In [1]:
import pandas as  pd
df=pd.read_csv('weather.csv')
df.head(5)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [2]:
x=df.iloc[:,1:5].values
x

array([[ 0. , 12.8,  5. ,  4.7],
       [10.9, 10.6,  2.8,  4.5],
       [ 0.8, 11.7,  7.2,  2.3],
       ...,
       [ 0. ,  7.2,  0.6,  2.6],
       [ 0. ,  5.6, -1. ,  3.4],
       [ 0. ,  5.6, -2.1,  3.5]])

In [3]:
y=df.iloc[:,5].values
y

array(['drizzle', 'rain', 'rain', ..., 'fog', 'sun', 'sun'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder
en=LabelEncoder()
y=en.fit_transform(y)
y

array([0, 2, 2, ..., 1, 4, 4], dtype=int64)

In [6]:
df

       crop  moisture  temp  pump
0    cotton       638    16     1
1    cotton       522    18     1
2    cotton       741    22     1
3    cotton       798    32     1
4    cotton       690    28     1
..      ...       ...   ...   ...
195  cotton       941    13     1
196  cotton       902    45     1
197  cotton       894    42     1
198  cotton      1022    45     1
199  cotton       979    10     1

[200 rows x 4 columns]

In [7]:
x

array([[ 638,   16],
       [ 522,   18],
       [ 741,   22],
       [ 798,   32],
       [ 690,   28],
       [ 558,   23],
       [ 578,   12],
       [ 673,   35],
       [ 642,   45],
       [ 723,   11],
       [ 671,   23],
       [ 758,   34],
       [ 507,   45],
       [ 586,   33],
       [ 703,   45],
       [ 716,   25],
       [ 724,   11],
       [ 828,   41],
       [ 633,   23],
       [ 783,   18],
       [ 635,   36],
       [ 525,   33],
       [ 636,   24],
       [ 813,   15],
       [ 736,   44],
       [ 833,   13],
       [ 808,   29],
       [ 714,   14],
       [ 806,   28],
       [ 681,   31],
       [ 661,   35],
       [ 546,   32],
       [ 759,   10],
       [ 803,   21],
       [ 670,   22],
       [ 796,   21],
       [ 665,   32],
       [ 687,   11],
       [ 573,   13],
       [ 812,   38],
       [ 698,   45],
       [ 675,   39],
       [ 700,   38],
       [ 749,   38],
       [ 537,   44],
       [ 748,   27],
       [ 824,   37],
       [ 839,   29],
       [ 740,   31],
       [ 533,   42],
       [ 775,   40],
       [ 663,   24],
       [ 639,   14],
       [ 612,   31],
       [ 580,   14],
       [ 632,   14],
       [ 535,   17],
       [ 818,   15],
       [ 503,   44],
       [ 788,   12],
       [ 513,   27],
       [ 729,   41],
       [ 659,   29],
       [ 629,   41],
       [ 641,   35],
       [ 676,   30],
       [ 739,   14],
       [ 773,   20],
       [ 792,   15],
       [ 509,   19],
       [ 682,   40],
       [ 637,   29],
       [ 769,   13],
       [ 611,   12],
       [ 574,   32],
       [ 623,   32],
       [ 539,   26],
       [ 595,   30],
       [ 683,   39],
       [ 760,   18],
       [ 697,   25],
       [ 766,   39],
       [ 768,   17],
       [ 734,   16],
       [ 579,   45],
       [ 737,   34],
       [ 699,   22],
       [ 757,   43],
       [ 624,   15],
       [ 545,   29],
       [ 850,   16],
       [ 722,   26],
       [ 795,   15],
       [ 817,   18],
       [ 830,   44],
       [ 843,   41],
       [ 553,   35],
       [ 837,   30],
       [ 588,   18],
       [ 733,   26],
       [  89,   42],
       [  76,   35],
       [ 434,   19],
       [ 487,   16],
       [ 493,   18],
       [ 421,   39],
       [ 379,   23],
       [ 177,   12],
       [ 482,   27],
       [ 168,   10],
       [ 208,   39],
       [ 162,   29],
       [ 306,   25],
       [ 394,   27],
       [ 184,   29],
       [ 429,   17],
       [  81,   20],
       [ 158,   17],
       [ 435,   10],
       [ 401,   17],
       [ 271,   33],
       [ 161,   18],
       [ 124,   40],
       [  26,   23],
       [ 175,   15],
       [ 293,   25],
       [ 354,   20],
       [ 245,   43],
       [ 462,   32],
       [ 466,   41],
       [  75,   37],
       [ 209,   43],
       [ 304,   43],
       [ 256,   40],
       [ 141,   43],
       [ 302,   23],
       [  87,   12],
       [  72,   13],
       [   4,   42],
       [ 178,   39],
       [  36,   16],
       [  39,   38],
       [ 107,   31],
       [  21,   37],
       [  59,   20],
       [ 206,   37],
       [ 143,   43],
       [  52,   44],
       [ 149,   24],
       [  74,   20],
       [ 861,   33],
       [ 938,   14],
       [ 981,   36],
       [1019,   37],
       [ 876,   40],
       [1020,   27],
       [ 933,   42],
       [ 889,   39],
       [ 865,   17],
       [ 920,   10],
       [ 926,   18],
       [ 923,   10],
       [ 853,   29],
       [ 922,   23],
       [ 998,   28],
       [ 966,   16],
       [ 950,   13],
       [1001,   36],
       [ 930,   18],
       [ 999,   30],
       [ 873,   44],
       [ 969,   39],
       [ 881,   26],
       [ 896,   42],
       [ 857,   20],
       [1010,   10],
       [ 947,   41],
       [ 859,   20],
       [1005,   43],
       [ 937,   28],
       [ 893,   39],
       [ 872,   10],
       [ 878,   29],
       [ 883,   40],
       [ 888,   44],
       [1009,   21],
       [ 917,   33],
       [ 974,   28],
       [ 858,   19],
       [ 918,   19],
       [1021,   22],
       [ 986,   36],
       [ 968,   17],
       [1015,   35],
       [ 914,   35],
       [ 941,   13],
       [ 902,   45],
       [ 894,   42],
       [1022,   45],
       [ 979,   10]], dtype=int64)

In [8]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=int64)

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x[y==0,0],x[y==0,1],c='red' size=50,label="no pump")